################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CovidEnquirer/v16
/CovidEnquirer/bin/Debug
/CovidEnquirer/obj/Debug
/packages
/RtfLibrary/bin/Debug
/RtfLibrary/obj/Debug
