################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CovidEnquirer/v16
/CovidEnquirer/bin/Debug
/CovidEnquirer/obj/Debug
/packages
/RtfLibrary/bin/Debug
/RtfLibrary/obj/Debug
/CovidTranslator/bin/Debug
/CovidTranslator/obj/Debug
/CovidLib/bin/Debug
/CovidLib/obj/Debug
/CovidEnquirer/bin/Release
/CovidEnquirer/obj/Release
/RtfLibrary/bin/Release
/RtfLibrary/obj/Release
/CovidEnquirer.Setup/Debug
/CovidEnquirer.Setup/Release
